:root {
    --color-one: #2196F3;
    --color-title: #000000;
    --color-bg: #F5F4FA;
    --color-bgr-business: #2F303A;
    --color-text: #FFFFFF;
    --color-heder-tel: #757575;
    --color-nav: #212121;
    --color-button:#188CE8;
    --color-footer: #2F303A;

}

body {
    font-family: Roboto, sans-serif;
    color: var(--color-nav);
    background-color: var(--color-text);

}

.logo-left {
    color: var(--color-one);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

 .logo {
    color: var(--color-title);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
} 

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

.business {
    background-color: var(--color-bgr-business);
}

.business-title {
    color: var(--color-text);
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hiden-title {
    display: none;
}

.heder-nav:hover,
.heder-nav:focus,
.heder-tel:focus,
.heder-tel:hover {
    color: var(--color-one);

}
.heder-nav.current {
    color: var(--color-one);
}

.heder-nav {
    color: var(--color-nav);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

.heder-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--color-heder-tel);

}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--color-one);
    color: var(--color-text);

}

.button-portfolio {
    cursor: pointer;
    background-color: var(--color-bg);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    

}

.button-service:hover,
.button-service:focus {
    background: var(--color-button)
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px; */
}

.button-service {
    font-family: inherit;
    background-color: var(--color-one);
    color: var(--color-text);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.advant-list .advant-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-nav);
}

.advant-list .advant-list-description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-heder-tel);
}
.team-web {
    background-color: var(--color-bg);
}
.team-img {
    background: var(--color-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.our-work,
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-mav);
}

.our-team-list h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--color-mav);
}

.our-team-list p {
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--color-heder-tel);
}

.our-portfolio h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-mav);
}

.our-portfolio p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-heder-tel);
}
.footer-web {
    background: var(--color-footer);
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
    letter-spacing: 0.03em;
    color: var(--color-text);
}
.footer-adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text)
}
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--color-one);
}